<% product = Product.find(@product_id) %>

<div class="who-posted">
<%= link_to(image_tag(product.user.image, class: "post-user-comment-image"), product.user.username) %>  Posted By <%= product.user.username %>
</div>

<div class="product-name-comment-section">
	<h2 class="red-color"><%= product.productname %></h2>
	<h4><%= product.description %></h4>
</div>

<h2 class="comment-count"><%= @comments.count %> Comments</h2>
<hr>

<!-- Add comment -->
<% if signed_in? %>
	<div class="row all-comments">
		<%= form_tag({ :controller => :products, :action => :commentcreate }, { :remote => true }) do%>

			<div class="comment-form ">
					<%= label_tag :title, 'Comment:', class: "col-sm-2 control-label" %>
		      <div class="">
		       <%= text_field_tag :title, params[:title], class: "form-control", placeholder: "Your Comment" %>
		      </div>
		      <%= hidden_field_tag :product_id, params[:product_id] = product.id %>
		  </div>
		<% end %>
		<br>
	</div>
<% end %>

<div>
	<% @comments.each do |comment| %>
	<div class="each-comment">
		<%= link_to(image_tag(comment.user.image, class: "post-user-comment-image"), product.user.username) %>
		<span class="red-color"><%= comment.user.username %></span>
		<p class="comment-title" style="line-height: 2px"><%= comment.title %></p>
		<hr style="margin-top: 5px; margin-bottom: 5px;">
	</div>
	<%end %>
</div>
