<%= form_for(@product) do |f| %>
 <div class="field">
    <%= f.label :productname %><br>
    <%= f.text_field :productname %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>